@import '/src/theme.scss'; 

.button_container {
  text-decoration: none;
  display: inline-block;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px 20px;
  margin: 5px;
  border: 0;
  border-radius: 5px;
  color: white;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;  
}

.button_primary {
  background-color: $primaryColor;
  transition: background-color 0.25s ease-in-out;
  &:hover {
    background-color: $primaryHoverColor;
  }
}

.button_secondary {
  background-color: $secondaryColor;
  color: black;
  transition: background-color 0.25s ease-in-out;
  &:hover {
    background-color: $secondaryHoverColor;
  }
}

.buttonGroup_container {
  padding: 10px 20px;
  margin: 5px;
}