@import '/src/theme.scss'; 

.asideBar_itemIcon {
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
  color: $iconColor;
}

.icon_xSmall {
  margin: 0 13px 0 4px;
  font-size: x-small;
}

.icon_xLarge {
  font-size: x-large;
}