@import '/src/theme.scss'; 

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden;
}

.contentBox {
  height: 100%;
  flex: 1;
  overflow-y: auto;
}