@import '/src/theme.scss'; 

.assideBar_itemGroup {
  width: 230px;
  margin-top: 30px;
}

.assideBar_groupHead {
  display: flex;
  cursor: pointer;
  margin-bottom: 12px;
  align-items: center;
  justify-content: space-between;
}