@import '/src/theme.scss'; 

.assideBar {
  padding-left: 30px;
  width: 240px;
  height: 100%;
  position: fixed;
  border-right: 1px solid $borderColor;
  overflow-y: auto;
  overflow-x: hidden;
}

.assideBas_headLabel {
  font-size: large;
  font-weight: 700;
}

.assideBar_createIcsscsscon {
  float: right;
}