@import '/src/theme.scss'; 

.createTask {
  display: flex;
}

.createTask_button {
  cursor: pointer;
  margin-top: 5px;
  color: $iconColor;
  transition: color 0.2s ease-in-out;
  &:hover {
    color: $primaryColor;
  }
}