@import '/src/theme.scss'; 

.assideBar_item {
  cursor: pointer;
  display: flex;
  height: 30px;
  padding-left: 5px;
  margin-bottom: 2px;
  justify-content: space-between;
  align-items: center;
  background-color: $notSelectColor;
  border-radius: 3px;
  transition: background-color 0.25s;
  &:hover{
    background-color: $selectColor;
  }
}

.selected {
  background-color: $selectColor;
}

.asideBar_itemIcon {
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
  color: $iconColor;
}

.icon_xSmall {
  margin: 0 13px 0 4px;
  font-size: x-small;
}

.icon_xLarge {
  font-size: x-large;
}
