$primaryColor: #db4c3f;
$primaryHoverColor: #da8b84;
$secondaryColor: white;
$secondaryHoverColor: rgb(233, 233, 233);
$iconColor: gray;
$iconNavColor: white;
$selectColor: rgb(233, 233, 233);
$notSelectColor: rgb(255, 255, 255);
$borderColor: rgb(233, 233, 233);
$captionColor: black;
$descriptionColor: gray;